* {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}
html, body {
  height: 100%;
}

.bg-danger {
	padding: 0 5px;
}
    
.content {
    padding: 40px 0;
}

.container-fluid {
	min-height: 100%;
	margin-bottom: -150px; 
}

.form-login{
  padding: 1em;
  min-width: 280px; /* change width as per your requirement */
}

.modal-open .modal,a:focus{
    outline:none!important
}

a {

	text-decoration: none;
}
.col-centered {
	float:none;
	 margin:0px auto;
 
}

.inner {
   padding-left:15px;
   padding-top:20px;
}
.profile-page .avatar {
	max-width: 100%;
margin: 0 auto;
display: block;
margin-top:20px;
}
.settings-page .avatar {
	max-width: 100%;
margin: 0 auto;
display: block;
margin-top:10px;
}
.profile-page .user-galleries {
	margin-top:50px;
}

.settings-page .control-label {
	margin-top:4px;
font-size:15px;
}

.img_abstand {
	margin-right:5px;
	margin-bottom:5px;
}
#links {
	padding-top:20px;
}
.avatartext {
	margin-left:20px;
}

#filediv { padding:0; margin:0;}
#filediv ul { padding:0; margin:0; list-style:none; border:0;}
#filediv ul li {margin-bottom: 10px; padding:0; border:0;}

.abcd {
	margin: 0px auto;
position: relative;
text-align: center;
}

.abcd img{
    height:200px;
    width:200px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}
.abcd .imgdelete{ 
    width: 32px;
    border: none; 
    height:32px;
    margin-left: -20px;
    margin-bottom: 192px;
}

.cross_upload {
	width:15px;
	height:15px;
	margin-top:-5px;
}
#filediv {
	list-style: none !important;
}
input[type=file] {
	display: inline-block;
}
.avatarbutton {
	padding-top:10px;
}
.margintop {
	margin-top:20px;
}
.remove_image {
	float:right;
	display: block;
}
.blueimp-gallery > .description {
 position: absolute;
top: 45px;
left: 15px;
margin: 0 40px 0 0;
font-size: 15px;
line-height: 30px;
color: #fff;
text-shadow: 0 0 2px #000;
opacity: .8;
display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}
#footer {
  background-color: #f5f5f5;
  line-height: 150px;
  text-align: center;
  font-size:30px;
}

#footer, .content:after {
	height:150px;
}

.content:after {
	  content: "";
  display: block;
}
.credit {
	  display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

